@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Personal Accountant</h1>
    <p>go to price list to add what you buy and how much it costed</p>
    <p></p>
    <p>go to finance tracker to see how much money you used per month</p>
</div>
